/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/images/bnk_bkrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(46, 181, 235); */
}